extends layout

block body
  .container
    .section-title
      h1 S3 File Uploader Demo for StrategicSale

    h3 Demo
      
    ul
      li
        a(href='/video') Video File Uploader
      li
        a(href='/picture') Picture File Uploader

    h3 Development

    ul
      li
        a(href='http://emvpdev-c9.trunksys.com/') Project Editor 
        span (Password Required)

    h3 Download

    ul
      li
        a(href='https://github.com/trunk-studio/aws-uploader-lambda6/archive/master.zip') AWS Lambda Source Code

