extends layout

block body
  .container
    .section-title
      h1 S3 File Uploader Demo for StrategicSale

    h3 Data Set for Video
    pre#paramsMonitor

    #fine-uploader

    h3 Results
    pre#resultsContainer

    h3 Tests
    button.btn.btn-default#echo Echo Test

  script(type='text/javascript', src='/js/jquery.s3uploader.js')
  script(type='text/javascript', src='/js/jquery.lambda6.js')
  script(type='text/javascript').
    
    $(function() {

        var AWS_ACCESS_KEY_ID = '#{accessKey}';

        var uploaderParams = {
            custmerId: '14057',
            filetype: 'video',
            objectId: null,
            fileKeyId: null,
            extAllow: 'mpg,wmv,avi,mp4,mts,mov,m2p,dat,mkv,m4v,3gp,flv,mpeg,webm',
            amountAllow: 1,
            sizeLimit: 2147483648,
            lang: 'en',
            resumeTime: 5,
            resumeInterval: 10,
            cdnUrl: 'dq8zej8azrytq.cloudfront.net',
            pipelineId: '1462358425462-kxvzpj',
            outputs: [{
                presetId: '1465455390986-0t1jc6',
                resolutionKind: 480
            }, {
                presetId: '1465455363821-ymekw1',
                resolutionKind: 720
            }]
        };

        $('#paramsMonitor').text(JSON.stringify(uploaderParams, null, 2));

        $('#fine-uploader').s3uploader({
            debug: true,
            accessKey: AWS_ACCESS_KEY_ID,
            requestEndpoint: 'emvpdev.s3.amazonaws.com',
            signatureEndpoint: '/lambda/signature',
            transcoderCallbackEndpoint: 'http://emvpdev.trunksys.com:3001/callback',
            uploaderParams: uploaderParams,
            callbacks: {
                onUploadSuccess: function(uploader, uploaderParams, callbackParams, responseJSON) {
                    $('#resultsContainer').text(JSON.stringify(callbackParams, null, 2));
                    // TODO: 呼叫後端將 callbackParams 回寫資料庫
                },
                onUploadError: function(uploader, uploaderParams, callbackParams, responseJSON) {
                    // TODO: 上傳檔案時發生錯誤
                    alert("上傳失敗" + responseJSON.error);
                },
                onTranscoderBegin: function(uploader, uploaderParams, callbackParams, responseJSON) {
                    // TODO: 已進入影片轉檔程序、允許離開上傳畫面
                    alert('開始轉檔');
                }
            }
        });

        // misc.

        $('#echo').click(function() {
            $.lambda6({
                operation: 'echo',
                payload: {
                    message: 'Hello Uploader'
                }
            })
            .done(function(data) {
                alert(JSON.stringify(data, null, 2));
            });
        });
    });